<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kysymykset</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Lisää kysymys</h2>
	
	<form th:object="${kysymys}" th:action="@{savekysymys}" action="#" method="post">
	    <input type="hidden" th:field="*{kysely}" />
	    <label for="kysymys">Kysymys</label>
	    <input type="text" id="kysymys" th:field="*{kys}" class="form-control"/>
	    <label>Kysymystyyppi: </label><br>
        <select th:field="*{kysymystyyppi}">

         <option th:each="kysymystyyppi: ${T(ohjelmistoprojekti1.kyselylomake.domain.Kysymys.Kysymystyyppi).values()}" th:value="${kysymystyyppi}" th:text="${kysymystyyppi}"></option>
       </select> 
       <label for="vaihtoehdot">Vaihtoehdot</label>
	    <input type="text" id="vaihtoehdot" th:field="${vaihtoehto.vaihtoehto}" class="form-control"/>
	    
	    <input type="submit" value="Save"></input>
	</form>
	
	


</body>
</html>